@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text:600';
@import 'https://fonts.googleapis.com/css?family=Courgette';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: arial, serif;
	font-size: 16px; /*1em=16px*/
	text-align: center;
	background-color: #222;
	color: #000;
}

footer{	
	background-color: #83E8CC;
	padding: 1%;
}

p{ 	
	font-family: 'Crimson Text', serif;
	line-height: 1.5em;
	font-size: 1.5em;
	margin: 0 auto;
	width: 45%;
}


h1, h2, h3, h4{
	-webkit-text-stroke: .1px black;
	font-family: 'Libre Baskerville', serif;
	font-size: 2em;
	color: #04C4FF;
}

h1{
	font-size: 5em;
	padding-top: 1%;
}

h2{
	font-size: 3em;
}

h3{
	font-size: 4em;
	margin-bottom: 7%;
	padding-top: 1%;
}

h4{
	font-size: 4em;
	padding: 1%;
}

nav{
    padding: 1.4%;
	border: 1px black solid;
	background-color: #E8C66A;
}

a{	
	color: #000;
	margin: 0 2%;
	letter-spacing: .5em;
	font-weight: 500;
	text-decoration: none;
}

a:hover{
	padding: 1%;
	color: #83E8CC;
	background-color: #007A7A;
} 

img{
    width: 100%;
}

ul{
	font-family: 'Crimson Text', serif;
	padding-bottom: .5%;
	font-size: 1.2em;
}

#wrapper{
	background-color: red;
	width: 55%;
	height: auto;
	margin: 0 auto;
	margin-top: 1%;
}

#two_column {
    background-color: #2D7F5D;
    padding: 1%;
    width: 100%;
    margin: auto;
    color: #fff;
}

#two_column p{
	width: 70%;
}

#left {
    padding: 1%;
    float: left;
    width: 50%;
}

#right {
    padding: 1%;
    float: right;   
    width: 50%;
}

#firstparagraph{
	margin-top: 30%;
}

#secondparagraph{
	margin-top: 35%;
	padding: 2%;
}

#thirdparagraph{
	padding: 2.5%;
}

#firstbackground{
	background-image: url(../Images/firstpicture.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
#secondbackground{
	background-image: url(../Images/MH-bridge.png);
	background-size: 100% ;	
	background-repeat: no-repeat;
	background-position: center;
}

#camaro{
	background-color: #007A7A;	
	margin: 0 auto;
	margin-bottom: 2%;
	height: 90w%;
	width: 100%;
}

#camaro img{
	width: 45%;
}

#slogan{
	-webkit-text-stroke: 1px black;
	font-family: 'Courgette', cursive;
	font-size: 3em;
	font-weight: 500;
	color: #04C4FF;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 2400px) {
	body {
		font-size: 13px;
	}
}

@media only screen and (max-width: 1988px) {
	body {
		font-size: 11px;
	}
}

@media only screen and (max-width: 1535px) {
	body {
		font-size: 9px;
	}
}

@media only screen and (max-width: 1375px) {
	body {
		font-size: 7px;
	}

	#wrapper{
	width: 75%;
	}
}

@media only screen and (max-width: 974px) {
	body {
		font-size: 5px;
	}

	#wrapper{
	width: 95%;
	}
}

@media only screen and (max-width: 480px) {
	body {
		font-size: 5px;
	}
	
	#wrapper{
	width: 100%;
	margin: 0;
	}
}