@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text:600';
@import 'https://fonts.googleapis.com/css?family=Courgette';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: arial, serif;
	font-size: 12px; /*1em=16px*/
	text-align: center;
	background-color: #222;
	color: #000;
}

main{
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
	margin-top: 3em;
}

header{
	-webkit-text-stroke: .1px black;
	font-family: 'Libre Baskerville', serif;

	background-image: url(../Images/firstpicture.jpg);
	background-position: center;
	background-size: 120em 75em;
	background-repeat: no-repeat;
}

footer{	
	font-size: 1.5em;
	letter-spacing: 1px;
	padding: 2em 0;
	

	background-color:  #FF957E;
	border: 1px black solid;
    padding: 20px;
}

div{
	box-sizing: border-box;

	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}


p{ 	
	font-family: 'Crimson Text', serif;
	font-size: 2em;
	line-height: 1.5em;
	width: 20em;
	margin: 0 auto;
}


h1, 
h2, 
h3, 
h4{
	-webkit-text-stroke: .1px black;
	font-family: 'Libre Baskerville', serif;
	font-size: 2em;
	color: #04C4FF;

	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

h1{
	font-size: 5em;
	padding-top: 1em;
}

h2{
	font-size: 3em;
	padding-top: .5em;
}

h3{
	font-size: 4em;
	margin-bottom: 7em;
	padding-top: 1em;
}

h4{
	font-size: 4em;
	padding: 1em;
}

nav{
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}

a{
	margin: 0 2em;
	color: #000;
	font-weight: 500;
}

hr{
	border-color: black;
}

img{
    width: 55em;
    height: auto;
}

ul{
	font-family: 'Crimson Text', serif;
	font-size: 2em;
	padding-bottom: .5em
}

#wrapper{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#firstparagraph{
	margin-top: 25em;
}

#secondparagraph{
	margin-top: 20em;
	padding: 1em;
}

#thirdparagraph{
	padding: 1em;
}

#secondbackgroundimg{
	background-image: url(../Images/MH-bridge.png);
	background-size: 120em 75em;	
	background-repeat: no-repeat;
	background-position: center;
}

/*#camaro{
	background-color: #007A7A;	
	height:97em;
	width:120em;
	margin: 0 auto;
	margin-bottom: 3em;
}
*/
#Nightparking{
	background-position: center;
	width: 50em;
	height: auto;
}

#slogan{
	-webkit-text-stroke: 1px black;
	font-family: 'Courgette', cursive;
	font-size: 3em;
	font-weight: 500;
	color: #04C4FF;
}